:root, :host {
  --sys-background: #f9f9ff;
  --sys-on-background: #1a1b20;
  --sys-surface: #f9f9ff;
  --sys-surface-dim: #d9d9e0;
  --sys-surface-bright: #f9f9ff;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-container-low: #f3f3fa;
  --sys-surface-container: #ededf4;
  --sys-surface-container-high: #e8e7ee;
  --sys-surface-container-highest: #e2e2e9;
  --sys-on-surface: #1a1b20;
  --sys-surface-variant: #e0e2ec;
  --sys-on-surface-variant: #44474e;
  --sys-inverse-surface: #2f3036;
  --sys-inverse-on-surface: #f0f0f7;
  --sys-outline: #74777f;
  --sys-outline-variant: #c4c6d0;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #435e91;
  --sys-primary: #435e91;
  --sys-on-primary: #ffffff;
  --sys-primary-container: #d7e2ff;
  --sys-on-primary-container: #001a40;
  --sys-inverse-primary: #acc7ff;
  --sys-secondary: #7a4f81;
  --sys-on-secondary: #ffffff;
  --sys-secondary-container: #fdd6ff;
  --sys-on-secondary-container: #300939;
  --sys-tertiary: #7a4f81;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #fdd6ff;
  --sys-on-tertiary-container: #300939;
  --sys-error: #904a43;
  --sys-on-error: #ffffff;
  --sys-error-container: #ffdad5;
  --sys-on-error-container: #3b0907;
  --sys-neutral: #76777d;
  --sys-neutral-variant: #74777f;
  --sys-primary-fixed: #d7e2ff;
  --sys-primary-fixed-dim: #acc7ff;
  --sys-on-primary-fixed: #001a40;
  --sys-on-primary-fixed-variant: #2a4678;
  --sys-secondary-fixed: #d8e2ff;
  --sys-secondary-fixed-dim: #adc7ff;
  --sys-on-secondary-fixed: #001a41;
  --sys-on-secondary-fixed-variant: #2a4678;
  --sys-tertiary-fixed: #fdd6ff;
  --sys-tertiary-fixed-dim: #e9b5ee;
  --sys-on-tertiary-fixed: #300939;
  --sys-on-tertiary-fixed-variant: #603768;
  --sys-inverse-secondary: #adc7ff;
  --sys-inverse-tertiary: #e9b5ee;
  --sys-inverse-error: #ffb4ab;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
}
