<div class="horizontal-layout">

  <mat-accordion>
    <mat-expansion-panel class="playlist-panel" *ngFor="let group of groupList" (opened)="group.opened = true"
                         (closed)="group.opened = false">

      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-slide-toggle [checked]="group.selected" (click)="toggleGroup($event, group)"></mat-slide-toggle>
          <div style="margin-left: 14px;">
            {{ group.name }} Playlists
          </div>
        </mat-panel-title>

        <mat-panel-description class="panel-description" *ngIf="group.opened">
          <button mat-raised-button (click)="selectAllPlaylists($event, group)" type="button">Select All</button>
          <button mat-raised-button (click)="deselectAllPlaylists($event, group)" type="button">Deselect All</button>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-chip-listbox multiple>
        <mat-chip-option *ngFor="let playlist of group.playlists" [selected]="playlist.selected"
                         (click)="togglePlaylist(group, playlist)">
          {{ playlist.playlist.name }}
        </mat-chip-option>
      </mat-chip-listbox>

    </mat-expansion-panel>
  </mat-accordion>
</div>
