<div class="container">
  <h3 *ngIf="groupList.length < 1; else displayGroups">
    There is no group. Create one to be able to edit it.
  </h3>
  <ng-template #displayGroups>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let group of groupList" style="width: 100%">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ group.name }}
          </mat-panel-title>

          <mat-panel-description>
            <button mat-icon-button (click)="openEditGroupDialog($event, group)">
              <mat-icon>edit</mat-icon>
            </button>

            <span style="flex: 1 1 auto"></span>

            <button mat-icon-button (click)="openDeleteGroupDialog($event, group)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div mat-subheader>
          <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput type="text" (change)="onSearchChange($event)">
            <button matSuffix mat-icon-button (click)="resetSearch()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <mat-selection-list *ngFor="let playlist of paginatedPlaylists">
          <mat-list-option [selected]="isInPlaylist(playlist, group)" (selectedChange)="onPlaylistSelectionChange(playlist, group, $event)">
            {{ playlist.name }}
          </mat-list-option>
        </mat-selection-list>

        <mat-paginator [length]="playlists.length"
                       [pageSize]="pageSize"
                       [pageIndex]="pageIndex"
                       [pageSizeOptions]="[5,10,15,20]"
                       (page)="paginatePlaylists($event)"
        ></mat-paginator>

      </mat-expansion-panel>
    </mat-accordion>

  </ng-template>

  <div>
    <button mat-fab aria-label="Add group" class="add-button" (click)="openNewGroupDialog()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
</div>
