<mat-list role="list">
  <mat-list-item role="listitem" routerLinkActive="active" routerLink="home">
    <div style="display:flex;align-items: center;">
      <mat-icon fontIcon="home"></mat-icon>
      <span style="padding-left: 10px">
        Home
      </span>
    </div>
  </mat-list-item>

  <div *ngIf="loggedIn; else notLoggedIn">
    <mat-list-item *ngFor="let playlist of this.playlists" role="listitem" routerLinkActive="active" routerLink="playlist/{{playlist.id}}">
      {{playlist.name}}
    </mat-list-item>
  </div>
  <ng-template #notLoggedIn>
    Please login to see your playlists
  </ng-template>

</mat-list>
