<mat-list role="list">
  <mat-list-item role="listitem" routerLinkActive="active" routerLink="home">
    <div style="display:flex;align-items: center;">
      <mat-icon fontIcon="home"></mat-icon>
      <span style="padding-left: 10px">
        Home
      </span>
    </div>
  </mat-list-item>
  @if (loggedIn) {
    @for(playlist of this.playlists; track playlist) {
      <mat-list-item role="listitem" routerLinkActive="active" routerLink="playlist/{{playlist.id}}">
        {{playlist.name}}
      </mat-list-item>
    }
  }

</mat-list>
