.horizontal-layout {
  align-items: center;
}

.playlist-panel {
  width: 100%;
}

.panel-description {
  padding-top: 5px;
  padding-bottom: 5px;
  flex: 0 0 auto;
}

.panel-description > * {
  display: inline-block;
  margin-right: 10px;
}
