.app-container {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.mat-toolbar h1 {
  font-weight: 500;
}

.nav-drawer {
  padding: 0 16px;
}

.frame-container {
  flex: 1;
  min-height: 0;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
